.wrapper {
    --search-height: 46px;
    --search-top-space: 9px;
    --search-btn-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    // width: 12%;
    height: 100%;
    display: flex;
    align-items: center;
}
.logo img {
    width: 40px;
    margin-right: 3px;
}
.logo p {
    margin-top: 5px;
    font-size:2.5rem;
    font-weight: 600;
}

.search-label {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
    padding: 5px 12px;
}

.search,
.search-result {
    width: 370px;
}
.search {
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    padding-left: 16px;
    display: flex;
    position: relative;
    border: 2px solid transparent;

    input {
        height: 100%;
        font-size: 1.6rem;
        color: var(--text-color);
        border: none;
        outline: none;
        caret-color: red;
        background-color: transparent;
        flex: 1;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    ::placeholder {
        font-size: 1.5rem;
        color: #828282;
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-space);
        right: 52px;
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-space) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}


.clear, 
.loading {
    position: absolute;
    right: calc(var(--search-btn-width) + 15px);
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6rem;
    color: rgba(22, 24, 35, 0.34);
}
.loading {
    display: none;
}

.search-btn {
    width: var(--search-btn-width);
    height: 100%;
    background-color: transparent;
    border-end-end-radius: 92px;
    border-start-end-radius: 92px;
    font-size: 1.8rem;
    color: #828282d1;

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }

    // &:active {
    //     background-color: rgba(22, 24, 35, 0.06);
    // }
}

.actions {
    // width: 15%;
    display: flex;
}

.more-btn {
    font-size: 2rem;
    margin-left: 25px;
    background: transparent;
    padding: 4px 8px;
}

