.wrapper {
    --search-height: 46px;
    --search-top-space: 9px;
    --search-btn-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    height: var(--default-layout-header-height);
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.logo {
    // width: 12%;
    height: 100%;
    display: flex;
    align-items: center;
}
.logo img {
    width: 40px;
    margin-right: 3px;
}
.logo p {
    margin-top: 5px;
    font-size:2.9rem;
    font-weight: 700;
}

.actions {
    // width: 15%;
    display: flex;
}

.more-btn {
    font-size: 2rem;
    margin-left: 25px;
    background: transparent;
    padding: 4px 8px;
    cursor: pointer;
}

.action-btn {
    background-color: transparent;
    font-size: 2.2rem;
    color: #161823;
    padding: 4px 12px;
    cursor: pointer;
    position: relative;
    
    .number-mes {
        position: absolute;
        color: rgb(255, 255, 255);
        font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        background: rgb(254, 44, 85);
        min-width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        left: 23px;
        top: -18%;
        padding: 0px 6px;
    }
}


.btn-uploads {
    min-width:110px;
    padding: 0 16px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    margin-right: 10px;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }

    .icon-plus  {
        font-size: 1.6rem;
        padding: 2px 3px;
        margin-right: 8px;
    }

}



.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}